body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    background: rgb(39, 39, 39);
    color : #000000;
}

header {
    background: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    color : #ffcda4;
    

}

nav {
    background: linear-gradient(145deg, #d1d1d1, #ff9100);
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

main {
    padding: 24px;
    flex: 1;
    background: linear-gradient(145deg, #d1d1d1, #b46600);

}



footer {
    background: linear-gradient(145deg, #d1d1d1, #583200);
    
}





.stylish-text {
    color: #ffffff; 
    font-size: 32px;
    font-weight: bold; 
    text-align: center; 

   
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7),
                 0 0 15px rgba(255, 255, 255, 0.8),
                 0 0 25px rgba(0, 150, 255, 0.9);
    
    
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7),
                     0 0 15px rgba(255, 255, 255, 0.6),
                     0 0 25px rgba(0, 150, 255, 0.7);
    }
    to {
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9),
                     0 0 25px rgba(255, 255, 255, 1),
                     0 0 40px rgba(0, 150, 255, 1);
    }
}
