body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    background: rgb(39, 39, 39);
    color : #000000;
}

header {
    background: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    color : #ffcda4;
    

}

nav {
    background: linear-gradient(145deg, #d1d1d1, #ff9100);
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

main {
    padding: 24px;
    flex: 1;
    background: linear-gradient(145deg, #d1d1d1, #b46600);

}



footer {
    background: linear-gradient(145deg, #d1d1d1, #583200);
    
}


